.container{
    margin: 0px auto;
    display: flex;
    gap: 50px;
    background-color: antiquewhite;
    max-width: 80%;
}
.main1{
    font-size: 20px;
    margin: 0px 15px;
}
h1{
    text-align: center;
}
img{
    height: 50vh;
    margin: 40px 10px;
    border-radius: 20px;
}
button{
    margin: 20px 0px;
    background-color: aqua;
    color: #000;
}
button:hover{
    background-color: green;
    color: #fff;
}
